.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: red;
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  font-weight: 900;
}